html,
body {
    height: 100%;
}
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
    min-height: 0;
    margin-bottom: 0;
    width: 100%;
    overflow: hidden;
}

.footer {
    flex: 0 0 auto;
}
.about-company{
    &__head {
        padding-top: rem(20px);
        overflow: hidden;
    }
    &__head-text {
        color: #000;
        padding: 0;
        margin: 0;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: rem(40px);
        overflow: hidden;
    }
    &__img-wrapper {
        margin-top: 2rem;
    }
    &__img-wrapper-img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}
.container {
    width: 80%;
    margin: 0 auto;
}
.header__container {
    justify-content: space-around;
}
.our-projects {
    margin-top: 0.3rem;
    margin-bottom: 2rem;
}
.img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}
.img-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.custom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.text {
    width: 80%;
    text-align: center;
    font-family: $font;
    font-weight: 300;
}
.text-head {
    text-align: center;
    width: 100%;
    font-family: $font;
    font-weight: 400;
}
.about-company__head-description {
    color: #000;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: rem(30px);
    overflow: hidden;
}
.carousel__img-container {
    width: 90%;
    margin: 0 auto;
}
.owl-carousel {
    margin-bottom: 2rem;
}
