.navigation {
  overflow: hidden;
  background: #eff3f7;
  border-radius: rem(4px);
  margin-bottom: rem(26px);
}

.navigation .navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation .navigation-item {
  border-top: rem(2px) solid #3ba8c0;
  margin: 0 rem(11px);
}

.navigation .navigation-item:first-child {
  border-top: none;
}

/* nav-current-item*/

.navigation .navigation-item.current {
  background: #3ba8c0;
  margin: 0;
  border-bottom: none;
  padding-left: rem(11px);
  margin-bottom: rem(-2px);
  /* hack */
}

.navigation .navigation-item.current .navigation-link {
  color: #f9fafb;
  font-size: rem(22px);
}


/* nav-current-item-end */

.navigation .navigation-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: block;
  font-size: rem(20px);
  text-decoration: none;
  color: #959aa8;
  margin-left: rem(16px);
  padding: rem(20px) rem(0px);
}

.navigation .navigation-link:hover {
  color: #3ba8c0;
}
